### PySpark GroupBy And Aggreagete Functions
- GroupBy
- Aggreagete

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('functions').getOrCreate()

In [4]:
spark

In [17]:
df_pyspark=spark.read.csv('mockdata.csv',header=True,inferSchema=True)

In [18]:
df_pyspark.show()

+---------+--------------------+---+------+------+
|     name|         departament|age|gender|salary|
+---------+--------------------+---+------+------+
|     Hill|          Accounting| 19|  Male|  1092|
|    Amber|Business Development| 21|Female|  1665|
|     Joya|           Marketing| 24|Female|  1674|
|  Myrilla|           Marketing| 25|Female|  1317|
|  Brendin|               Legal| 20|  Male|  1131|
|    Amber|  Product Management| 15|Female|  1927|
|   Pietra|            Training| 19|Female|  1517|
|  Murdoch|             Support| 16|  Male|  1002|
|    Willy|         Engineering| 17|  Male|  1849|
|    Xylia|Research and Deve...| 21|Female|  1801|
|   Pascal|               Legal| 18|  Male|  1597|
|    Della|            Training| 23|Female|  1337|
|    Raina|     Human Resources| 17|Female|  1990|
|   Austen|  Product Management| 21|  Male|  1732|
|   Daveta|Business Development| 24|Female|  1139|
|  Kikelia|             Support| 16|Female|  1739|
| Christie|     Human Resources| 19|  Male|  1056|
|Gualterio|         Engineering| 24|  Male|  1426|
|    Bevin|               Sales| 15|  Male|  1286|
| Marigold|               Sales| 16|Female|  1663|
+---------+--------------------+---+------+------+
only showing top 20 rows

In [19]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- departament: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [26]:
## Groupby
## grouped to find the maximum salary by department
df_pyspark.groupBy('departament').sum('salary').show()

+--------------------+-----------+
|         departament|sum(salary)|
+--------------------+-----------+
|            Services|      10514|
|  Product Management|      13292|
|               Sales|      20248|
|         Engineering|      10983|
|          Accounting|      14136|
|Business Development|      14194|
|Research and Deve...|      10148|
|               Legal|       7641|
|            Training|      17504|
|           Marketing|       7000|
|             Support|      13220|
|     Human Resources|      10546|
+--------------------+-----------+

In [28]:
## Groupby
## Groupby Age which gives to maximum age
df_pyspark.groupBy('age').sum('salary').show()

+---+-----------+
|age|sum(salary)|
+---+-----------+
| 22|      13568|
| 16|       9838|
| 20|      13189|
| 19|      12045|
| 15|      14623|
| 17|      15945|
| 23|      17852|
| 25|      16826|
| 24|      13483|
| 21|      12773|
| 18|       9284|
+---+-----------+

In [29]:

df_pyspark.groupBy('age').mean('salary').show()

+---+------------------+
|age|       avg(salary)|
+---+------------------+
| 22|1507.5555555555557|
| 16|1405.4285714285713|
| 20|1465.4444444444443|
| 19|1338.3333333333333|
| 15|1624.7777777777778|
| 17|1449.5454545454545|
| 23|1487.6666666666667|
| 25|            1682.6|
| 24|            1348.3|
| 21|          1596.625|
| 18|1547.3333333333333|
+---+------------------+

In [30]:
df_pyspark.groupBy('departament').count().show()

+--------------------+-----+
|         departament|count|
+--------------------+-----+
|            Services|    6|
|  Product Management|    8|
|               Sales|   13|
|         Engineering|    7|
|          Accounting|   10|
|Business Development|   11|
|Research and Deve...|    6|
|               Legal|    5|
|            Training|   12|
|           Marketing|    5|
|             Support|   10|
|     Human Resources|    7|
+--------------------+-----+

In [31]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     149426|
+-----------+

In [32]:
df_pyspark.groupBy('departament').max('salary').show()

+--------------------+-----------+
|         departament|max(salary)|
+--------------------+-----------+
|            Services|       1985|
|  Product Management|       1927|
|               Sales|       1956|
|         Engineering|       1965|
|          Accounting|       1778|
|Business Development|       1856|
|Research and Deve...|       1982|
|               Legal|       1916|
|            Training|       1822|
|           Marketing|       1932|
|             Support|       1739|
|     Human Resources|       1990|
+--------------------+-----------+

In [33]:
df_pyspark.groupBy('departament').min('salary').show()

+--------------------+-----------+
|         departament|min(salary)|
+--------------------+-----------+
|            Services|       1533|
|  Product Management|       1101|
|               Sales|       1045|
|         Engineering|       1135|
|          Accounting|       1092|
|Business Development|       1012|
|Research and Deve...|       1226|
|               Legal|       1131|
|            Training|       1069|
|           Marketing|       1038|
|             Support|       1002|
|     Human Resources|       1056|
+--------------------+-----------+

In [34]:
df_pyspark.groupBy('departament').avg('salary').show()

+--------------------+------------------+
|         departament|       avg(salary)|
+--------------------+------------------+
|            Services|1752.3333333333333|
|  Product Management|            1661.5|
|               Sales|1557.5384615384614|
|         Engineering|            1569.0|
|          Accounting|            1413.6|
|Business Development|1290.3636363636363|
|Research and Deve...|1691.3333333333333|
|               Legal|            1528.2|
|            Training|1458.6666666666667|
|           Marketing|            1400.0|
|             Support|            1322.0|
|     Human Resources|1506.5714285714287|
+--------------------+------------------+

In [94]:
temp_table=df_pyspark.groupBy('departament').sum('salary').withColumnRenamed('sum(salary)', 'salary')
temp_table.show()

+--------------------+------+
|         departament|salary|
+--------------------+------+
|            Services| 10514|
|  Product Management| 13292|
|               Sales| 20248|
|         Engineering| 10983|
|          Accounting| 14136|
|Business Development| 14194|
|Research and Deve...| 10148|
|               Legal|  7641|
|            Training| 17504|
|           Marketing|  7000|
|             Support| 13220|
|     Human Resources| 10546|
+--------------------+------+

In [95]:
temp_table.sort(temp_table.salary.desc()).show()

+--------------------+------+
|         departament|salary|
+--------------------+------+
|               Sales| 20248|
|            Training| 17504|
|Business Development| 14194|
|          Accounting| 14136|
|  Product Management| 13292|
|             Support| 13220|
|         Engineering| 10983|
|     Human Resources| 10546|
|            Services| 10514|
|Research and Deve...| 10148|
|               Legal|  7641|
|           Marketing|  7000|
+--------------------+------+