In [13]:
from pyspark.sql import SparkSession

In [14]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [15]:
spark

In [16]:
## read the dataset
df_pyspark=spark.read.option('header', 'true').csv('test.csv',inferSchema=True)

In [17]:
df_pyspark.show()

+--------+---+
|    name|age|
+--------+---+
|    Luiz| 21|
|Peterson| 23|
| Augusto| 48|
|   Brian| 11|
+--------+---+

In [18]:
## Check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [19]:
df_pyspark=spark.read.csv('test.csv', header=True,inferSchema=True)

In [20]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.columns

['name', 'age']

In [23]:
df_pyspark.head(4)

[Row(name='Luiz', age=21),
 Row(name='Peterson', age=23),
 Row(name='Augusto', age=48),
 Row(name='Brian', age=11)]

In [24]:
df_pyspark.show()

+--------+---+
|    name|age|
+--------+---+
|    Luiz| 21|
|Peterson| 23|
| Augusto| 48|
|   Brian| 11|
+--------+---+

In [27]:
type(df_pyspark.select('name'))

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark.select(['name', 'age'])

DataFrame[name: string, age: int]

In [29]:
df_pyspark.select(['name', 'age']).show()

+--------+---+
|    name|age|
+--------+---+
|    Luiz| 21|
|Peterson| 23|
| Augusto| 48|
|   Brian| 11|
+--------+---+

In [30]:
df_pyspark['name']

Column<'name'>

In [31]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int')]

In [32]:
df_pyspark.describe().show()

+-------+--------+-----------------+
|summary|    name|              age|
+-------+--------+-----------------+
|  count|       4|                4|
|   mean|    null|            25.75|
| stddev|    null|15.73478100684383|
|    min| Augusto|               11|
|    max|Peterson|               48|
+-------+--------+-----------------+

In [35]:
## Adding columns in data frame
df_pyspark=df_pyspark.withColumn('Age after 2 year', df_pyspark['age']+2)

In [36]:
df_pyspark.show()

+--------+---+----------------+
|    name|age|Age after 2 year|
+--------+---+----------------+
|    Luiz| 21|              23|
|Peterson| 23|              25|
| Augusto| 48|              50|
|   Brian| 11|              13|
+--------+---+----------------+

In [37]:
## Drop the columns
df_pyspark=df_pyspark.drop('Age after 2 year')

In [38]:
df_pyspark.show()

+--------+---+
|    name|age|
+--------+---+
|    Luiz| 21|
|Peterson| 23|
| Augusto| 48|
|   Brian| 11|
+--------+---+

In [39]:
## Rename the columns
df_pyspark=df_pyspark.withColumnRenamed('name','nome')
df_pyspark=df_pyspark.withColumnRenamed('age','idade')

In [40]:
df_pyspark.show()

+--------+-----+
|    nome|idade|
+--------+-----+
|    Luiz|   21|
|Peterson|   23|
| Augusto|   48|
|   Brian|   11|
+--------+-----+