In [2]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\luiz.souza\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.3.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.5 in c:\users\luiz.souza\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pyspark) (0.10.9.5)

In [3]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('test.csv')

       name  age
0      Luiz   21
1  Peterson   23
2   Augusto   48
3     Brian   11

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [11]:
df_pyspark=spark.read.csv('test.csv')

In [16]:
spark.read.option('header', 'true').csv('test.csv').show()

+--------+---+
|    name|age|
+--------+---+
|    Luiz| 21|
|Peterson| 23|
| Augusto| 48|
|   Brian| 11|
+--------+---+