### Pyspark Dataframes
- Filter Operation
- & | ==
- ~

In [3]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('operation').getOrCreate()

In [10]:
df_pyspark=spark.read.csv('test.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+------+
|    name|age|salary|
+--------+---+------+
|    Luiz| 21|   500|
|Peterson| 23|  1500|
| Augusto| 48|  2000|
|   Brian| 11|  1000|
+--------+---+------+

## Filter Operation

In [11]:
## Salary of people less than or equal to 1000
df_pyspark.filter('salary<=1000').show()

+-----+---+------+
| name|age|salary|
+-----+---+------+
| Luiz| 21|   500|
|Brian| 11|  1000|
+-----+---+------+

In [12]:
## Salary of people less than or equal to 1000
df_pyspark.filter('salary<=1000').select(['name','age']).show()

+-----+---+
| name|age|
+-----+---+
| Luiz| 21|
|Brian| 11|
+-----+---+

In [17]:
df_pyspark.filter(
  (df_pyspark['age']<15) | 
  (df_pyspark['salary']<=1000)).show()

+-----+---+------+
| name|age|salary|
+-----+---+------+
| Luiz| 21|   500|
|Brian| 11|  1000|
+-----+---+------+

In [18]:
df_pyspark.filter(
  ~(df_pyspark['age']<15) | 
  (df_pyspark['salary']<=1000)).show()

+--------+---+------+
|    name|age|salary|
+--------+---+------+
|    Luiz| 21|   500|
|Peterson| 23|  1500|
| Augusto| 48|  2000|
|   Brian| 11|  1000|
+--------+---+------+